.product {
	&__labels {
		display: flex;
		justify-content: flex-start;
		margin: 0;
		padding: 0;
		//position: absolute;

		&_column {
			align-items: flex-start;
			flex-direction: column;
		}

		&_small {
			.product__label {

				font-size: 0.65rem;
				padding: 2px;
				@include media-breakpoint-up(sm) {
					font-size: 0.75rem;
					padding: 5px;
				}
			}
		}
	}

	&__label {
		display: inline-block;
		margin: 10px;

		//padding: 4px 10px 5px;
		padding: 5px 8px;
	}
}
