.product {
	&__labels {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0;
		padding: 0;
		position: absolute;
	}

	&__label {
		border-radius: 4px;
		display: inline-block;

		padding: 4px 10px 5px;
	}
}
