$theme-color: #c490e4;

$front-text-color: #000;
$front-link-color: #0d6efd;

$front-font-weight-bold: 700;
$front-font-weight-light: 300;

$btn-action-color: color-contrast($theme-color);
$btn-action-bg: $theme-color;
$btn-action-border: darken($theme-color, 10%);

$front-highlight-link-color: $theme-color;
$front-highlighted-price-color: #dc3545;

$zindex-call-to-order: 1031;
$zindex-nprogress: 1033;
$zindex-collapsed-background: 1032;

$front-bg-color: #f8f8f8;

$front-category-sidebar-color: $front-text-color;
$front-category-sidebar-hover-color: $front-highlight-link-color;

$front-products-border-color: #cfd3da;

$front-error-color: #a94442;

$front-hr-color: #eee;

$aside-width: (
	'xxs': 290px,
	'xs': 430px
);

$front-cart-header-qty-bg: $theme-color;
$front-cart-header-qty-color: color-contrast($theme-color);

$front-v-menu-bg: #f8f8f8;
$front-v-menu-color: #000;
$front-v-menu-active: #ffba00;

$front-h-menu-bg: #fff;
$front-h-menu-color: #000;
$front-h-menu-active: #ffba00;
