.page-layout {
	position: relative;
	transition: transform 0.4s ease;

	&_aside-opened {
		box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.75);
		min-height: 100vh;
		transform: translate3d((map-get($aside-width, 'xxs') * -1), 0, 0);
		z-index: 2;

		@include media-breakpoint-up(sm) {
			transform: translate3d((map-get($aside-width, 'xs') * -1), 0, 0);
		}
	}
}

.aside-backdrop {
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 1s ease;
	visibility: hidden;
	z-index: $zindex-collapsed-background;

	&_visible {
		opacity: 1;
		visibility: visible;
	}
}

.aside-menu {
	// background: #423e3e;
	background: lightgrey;
	bottom: 0;
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3d(map-get($aside-width, 'xxs'), 0, 0);
	transition: transform 0.4s ease;
	visibility: hidden;
	width: map-get($aside-width, 'xxs');
	padding: 20px 20px;

	@include media-breakpoint-up(sm) {
		transform: translate3d(map-get($aside-width, 'xs'), 0, 0);
		width: map-get($aside-width, 'xs');
	}

	&_visible {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	&__header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: lighten(grey, 20%);
		width: 90%;
		margin-top: 8px;
		padding: 0 12px;
	}
	&__submenu {
		display: none;
		position: absolute;
		background-color: lightgray;
		top: 100%;
		right: 0;
		width: 80%;
		z-index: 100;
	}

	&__item {
		cursor: pointer;
		width: 90%;
		display: flex;
		justify-content: space-between;
		padding: 15px 10px;
		border: 1px solid grey;
		border-bottom: none;
		position: relative;
		background-color: lightgray;
		&:last-child {
			border-bottom: 1px solid grey;
		}
		&:hover {
			background: grey;
		}
		&:hover > .aside-menu__submenu {
			display: flex;
			flex-direction: column;
		}
	}
}
