.aside-backdrop {
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 1s ease;
	visibility: hidden;
	z-index: $zindex-collapsed-background;

	&_visible {
		opacity: 1;
		visibility: visible;
	}
}

.aside-menu {
	$root: &;
	background: #423e3e;
	bottom: 0;
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	// touch-action: none;
	transform: translate3d(map-get($aside-width, 'xxs'), 0, 0);
	transition: transform 0.4s ease;
	visibility: hidden;
	width: map-get($aside-width, 'xxs');

	@include media-breakpoint-up(sm) {
		transform: translate3d(map-get($aside-width, 'xs'), 0, 0);
		width: map-get($aside-width, 'xs');
	}

	&_visible {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	&__header {
		align-items: center;
		background: $front-aside-header-bg;
		border-bottom: 1px solid $front-hr-color;
		display: flex;
		justify-content: space-between;
		padding: 15px 15px 15px 20px;
	}

	&__close-btn {
		padding: 8px;
	}

	&__list {
		background-color: $front-aside-list-bg;
	}

	&__element {
		align-items: center;
		border-bottom: 1px solid $front-aside-border-color;
		color: $front-aside-menu-color;
		display: flex;
		justify-content: space-between;
		padding: 15px 15px 15px 20px;
		text-decoration: none;

		&.active,
		&:hover {
			background-color: darken($front-aside-list-bg, 3%);
		}

		&.active {
			color: $front-aside-menu-active;
			font-weight: $front-aside-menu-active-weight;
		}
	}

	&__root-element {
		&.open #{$root}__child-list {
			display: block;
		}
	}

	&__child-list {
		display: none;

		#{$root}__element {
			padding-left: 45px;
		}
	}
}
