$lightgray: #d3d3d3;
$gray: #808080;

.page-layout {
	position: relative;
	transition: transform 0.4s ease;

	&_aside-opened {
		box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.75);
		min-height: 100vh;
		transform: translate3d((map-get($aside-width, 'xxs') * -1), 0, 0);
		z-index: 2;

		@include media-breakpoint-up(sm) {
			transform: translate3d((map-get($aside-width, 'xs') * -1), 0, 0);
		}
	}
}

.aside-backdrop {
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 1s ease;
	visibility: hidden;
	z-index: $zindex-collapsed-background;

	&_visible {
		opacity: 1;
		visibility: visible;
	}
}

.aside-menu {
	// background: #423e3e;
	background-color: $lightgray;
	bottom: 0;
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3d(map-get($aside-width, 'xxs'), 0, 0);
	transition: transform 0.4s ease;
	visibility: hidden;
	width: map-get($aside-width, 'xxs');

	@include media-breakpoint-up(sm) {
		transform: translate3d(map-get($aside-width, 'xs'), 0, 0);
		width: map-get($aside-width, 'xs');
	}

	&_visible {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	&__header-container {
		align-items: center;
		background: lighten($gray, 20%);
		display: flex;
		justify-content: space-between;
		margin-top: 8px;
		padding: 0 12px;
		width: 90%;
	}

	&__submenu {
		background-color: $lightgray;
		display: none;
		position: absolute;
		right: 0;
		top: 100%;
		width: 80%;
		z-index: 100;
	}

	&__item {
		background-color: $lightgray;
		border: 1px solid $gray;
		border-bottom: none solid transparent;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		padding: 15px 10px;
		position: relative;
		width: 90%;

		&:last-child {
			border-bottom: 1px solid $gray;
		}

		&:hover {
			background: $gray;
		}

		&:hover > .aside-menu__submenu {
			display: flex;
			flex-direction: column;
		}
		& > a {
			background-color: rgba(0, 0, 0, 0);
			color: #333;
			display: block;
			font-size: 15px;
			font-weight: 400;
			text-decoration: none;
		}
	}
}
