.breadcrumb-wrapper {
	background-color: $front-bg-color;
	display: block;
	padding: 10px 12px;
	margin-bottom: 2rem;

	.breadcrumb {
		margin-bottom: 0;
	}

	.breadcrumb-item {
		a {
			color: $front-text-color;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
