$call-to-order-right: 5px;

@keyframes call-to-order-show-from-right {
	from {
		margin-right: -500px;
	}

	to {
		margin-right: $call-to-order-right;
	}
}

@keyframes call-to-order-show-from-right-mobile {
	from {
		margin-right: -500px;
	}

	to {
		margin-right: 0;
	}
}

.call-to-order {
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff 20%, rgba(246, 246, 246, 1) 100%);
	background-repeat: repeat-x;
	border: 2px solid $theme-color;
	box-shadow: 0 6px 24px -4px #eee;
	display: none;
	margin-left: auto;
	margin-right: 0;
	min-height: 100px;
	opacity: 1;
	padding: 20px;
	position: sticky;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: $zindex-call-to-order;

	@include media-breakpoint-up(sm) {
		margin-right: $call-to-order-right;
		width: 300px;
	}

	&__wrapper {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__container {
		height: 100%;
		padding-top: $call-to-order-top;
	}

	&__header {
		border-bottom: 1px solid #eee;
		padding: 0 21px 8px 0;
		position: relative;

		.btn-close {
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	&__item {
		display: flex;
		justify-content: flex-start;

		.desc {
			p {
				margin-bottom: 0;
			}
		}
	}

	&__img-wrapper {
		flex-shrink: 0;
		margin: 0 5px 0 0;
		width: 60px;

		.no-image__bg {
			background-size: 30px;
		}
	}

	&.opened {
		animation: call-to-order-show-from-right-mobile 0.5s forwards;
		display: block;
		opacity: 1;

		@include media-breakpoint-up(sm) {
			animation: call-to-order-show-from-right 0.5s forwards;
		}
	}

	&.hiding {
		opacity: 0;
		transition: opacity 0.3s;
	}
}
