@import './cart/header';

.cart-items {
	padding: 0 10px;

	.row:nth-child(even) {
		background: #f9f9f9;
	}

	.cart-qty-input {
		max-width: 150px;
		min-width: 90px;
	}

	.cart-row {
		.img {
			flex-shrink: 0;
			height: auto;
			max-width: 60px;
			text-align: center;
		}
	}
}
