.category-menu {
	&__list {
		background: #fff;
		padding: 8px 12px;
		border-radius: 10px;
	}

	&__item {
		padding: 8px 12px;
		border-radius: 10px;

		&.active {
			background-color: #ba86da;
			a {
				color: #fff;
			}
			&:hover {
				background-color: $c-btn-hover;
			}
		}

		a {
			display: inline-block;
			line-height: 21px;
			text-decoration: none;
			color: #000;
		}

		&.has-children {
			margin-bottom: 15px;
		}
		&:hover {
			background-color: $c-bg-body;
		}
	}
}
