.control-bar {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.mobile-filters {
		margin-bottom: 0.5rem;

		&__button {
			display: block;

			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}

	.sort-buttons {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		margin-bottom: 0.5rem;
	}
}

.close-filter {
	color: $front-link-color;
	text-decoration: none;

	&:active {
		color: $front-link-color;
	}
}
