$theme-color: #C490E4;

$btn-action-color: color-contrast($theme-color);
$btn-action-bg: $theme-color;
$btn-action-border: darken($theme-color, 10%);

$front-highlighted-color: red;

$zindex-call-to-order: 1031;
$zindex-nprogress: 1032;