$horizontal-menu-big-padding: 15px;
$horizontal-menu-small-padding: 10px;

.horizontal-menu {
	background-color: $front-h-menu-bg;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;

	&__list {
		display: flex;
		justify-content: space-around;
		margin-bottom: 0;
	}

	&__root-element {
		padding: 15px;
		position: relative;
	}

	&__element {
		align-items: center;
		display: flex;
	}

	&__child-list {
		background-color: #fff;
		border: 1px solid #eee;
		padding: 15px;
		top: 70px;
		width: 220px;
		z-index: 10;

		&.animate__animated.animate__fadeIn,
		&.animate__animated.animate__fadeOut {
			--animate-duration: 0.4s;
		}
	}

	&__child-element {
		padding: 0 0 $horizontal-menu-small-padding 0;
		white-space: nowrap;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__link {
		color: $front-h-menu-color;
		text-decoration: none;

		&.is-child {
			margin-left: 10px;
			white-space: normal;
		}

		& + &.is-child {
			margin-left: 0;
		}

		&.is-root {
			font-size: 15px;
			font-weight: $front-font-weight-light;
			text-transform: uppercase;
		}

		&:hover {
			color: $front-h-menu-color;
			text-decoration: underline;
		}
	}

	&__text-title {
		color: $front-h-menu-active;
		font-weight: $front-font-weight-bold;

		&.is-root {
			font-size: 15px;
		}
	}
}
