@import './product/labels';
@import './product/gallery';
@import './product/variantPicker';

.product-description {
	max-width: 800px;
}

//.variant-picker {
//	padding-bottom: 12px;
//}
//
//.variant-picker + .price-and-buy {
//	border-top: 1px solid #eee;
//}

/*
.price-and-buy {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding: 20px 0;

	.prices {
		.price {
			font-size: 26px;
		}

		&.with-old .price {
			color: $front-highlighted-price-color;
		}
	}

	.price-old {
		color: #777;
		font-size: 22px;
	}

	.benefit-price span {
		color: $front-highlighted-price-color;
	}
}
 */

.modal-price {
	.prices {
		margin-bottom: 0;

		.price {
			font-size: 18px;
		}

		&.with-old .price {
			color: $front-highlighted-price-color;
		}
	}

	.benefit-price span {
		color: $front-highlighted-price-color;
	}
}

.product-characteristics {
	color: #777;
	margin-bottom: 20px;
}

.product-characteristic {
	border-bottom: 1px solid #eee;
}
