@import './product/labels';
@import './product/gallery';
@import './product/variantAndBuy';

.product-description {
	max-width: 800px;
}

.modal-price {
	.prices {
		margin-bottom: 0;

		.price {
			font-size: 18px;
		}

		&.with-old .price {
			color: $front-highlighted-price-color;
		}
	}

	.benefit-price span {
		color: $front-highlighted-price-color;
	}
}

.product-characteristics {
	color: #777;
	margin-bottom: 20px;
}

.product-characteristic {
	border-bottom: 1px solid #eee;
}
