.product-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;

	&__wrapper {
		// border: 1px solid #eee;
		border-radius: 10px;
		box-shadow: 0 6px 24px -4px #eee;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow: hidden;
		padding: 10px;
		position: relative;

		&:hover {
			box-shadow: 0 6px 24px -4px #ccc;

			.product-item__stock-out {
				display: block;
			}

			.product-item__availability,
			.product-item__basket-btn {
				transform: translateY(0px);
			}
		}
	}

	&__title {
		padding: 12px 6px;
		font-weight: 300;
		font-size: 1.3rem;
		margin-bottom: 0;
		text-align: center;

		a {
			text-decoration: none;
			color: #ba86da;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__price {
		text-align: center;
		font-weight: 500;
	}

	&__image {
		&.ratio-2-3 {
			padding-bottom: 66.666%;
			position: relative;
			width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__stock-in {
		display: none;
	}

	&__stock-out {
		display: none;
	}

	&__availability,
	&__basket-btn {
		background-color: #fff;
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		padding: 5px 10px;
		margin-bottom: 5px;
		position: absolute;
		right: 0;
		transform: translateY(60px);
		transition: transform 0.3s;
	}
}

.thumbs-list .thumb {
	border: 2px solid transparent;
	border-radius: 8px;
	overflow: hidden;

	a {
		display: block;
		opacity: 0.3;
	}

	&.active {
		border: 2px solid #ddd;
		border-radius: 8px;
		overflow: hidden;

		a {
			opacity: 1;
		}
	}
}

.variant-picker {
	padding-bottom: 12px;
}

.variant-picker + .price-and-buy {
	border-top: 1px solid #eee;
}

.price-and-buy {
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding: 20px 0;

	.prices {
		.price {
			font-size: 26px;
		}
		&.with-old .price {
			color: $front-highlighted-color;
		}
	}

	.price-old {
		color: #777;
		font-size: 22px;
	}
	.benefit-price span {
		color: $front-highlighted-color;
	}
}

.modal-price {
	.prices {
		margin-bottom: 0;
	}
	.price {
		font-size: 18px;
		color: red;
	}
	.price-old {
		color: #777;
	}
}

.product-characteristics {
	color: #777;
	margin-bottom: 20px;
}

.product-characteristic {
	border-bottom: 1px solid #eee;
}
