.product-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;

	&__wrapper {
		// border: 1px solid #eee;
		border-radius: 10px;
		box-shadow: 0 6px 24px -4px #eee;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		overflow: hidden;
		padding: 10px;
		position: relative;

		&:hover {
			box-shadow: 0 6px 24px -4px #ccc;

			.product-item__stock-out {
				display: block;
			}

			.product-item__availability,
			.product-item__basket-btn {
				transform: translateY(0px);
			}
		}
	}

	&__title {
		padding: 12px 6px;
		font-weight: 300;
		font-size: 1.3rem;
		margin-bottom: 0;
		text-align: center;

		a {
			text-decoration: none;
			color: #ba86da;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__price {
		text-align: center;
		font-weight: 500;
	}

	&__image {
		&.ratio-2-3 {
			padding-bottom: 66.666%;
			position: relative;
			width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__stock-in {
		display: none;
	}

	&__stock-out {
		display: none;
	}

	&__availability,
	&__basket-btn {
		background-color: #fff;
		bottom: 0;
		display: flex;
		justify-content: center;
		left: 0;
		padding: 5px 10px;
		margin-bottom: 5px;
		position: absolute;
		right: 0;
		transform: translateY(60px);
		transition: transform 0.3s;
	}
}
