.sort-buttons {
	align-items: center;
	display: flex;

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		grid-gap: 0.5rem;
		margin: 0;

		@include media-breakpoint-up(sm) {
			flex-wrap: nowrap;
		}
	}

	&__element.active &__link {
		color: #000;
	}

	&__link {
		align-items: center;
		color: #777;
		display: flex;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
