$vertical-menu-big-padding: 15px;
$vertical-menu-small-padding: 10px;

.vertical-menu {
	background-color: $front-v-menu-bg;
	padding: 25px;

	&__list > li {
		padding: 0 0 $vertical-menu-big-padding 0;
		position: relative;

		&:last-child {
			padding-bottom: 0;
		}

		> div > a {
			color: $front-v-menu-color;
			font-size: 15px;
			font-weight: 700;
			text-decoration: none;
		}
	}

	&__child-list {
		padding: $vertical-menu-big-padding 0 0 10px;

		> li {
			padding: 0 0 $vertical-menu-small-padding 0;
			white-space: nowrap;

			&:last-child {
				padding-bottom: 0;
			}

			&::before {
				border-bottom: 4px solid transparent;
				border-left: 4px solid #adaeae;
				border-top: 4px solid transparent;
				content: '';
				display: inline-block;
				height: 0;
				margin-top: 8px;
				vertical-align: top;
				width: 0;
			}

			&.active::before {
				display: none;
			}

			> a,
			> b {
				color: $front-v-menu-color;
				margin-left: 10px;
				text-decoration: none;
				white-space: normal;

				+ a,
				+ b {
					margin-left: 0;
				}
			}
		}
	}
}
