.page-layout {
	position: relative;
	transition: transform 0.4s ease;
	z-index: $zindex-page-layout;

	&_aside-opened {
		box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.75);
		min-height: 100vh;
		transform: translate3d((map-get($aside-width, 'xxs') * -1), 0, 0);
		z-index: $zindex-page-layout-aside-opened;

		@include media-breakpoint-up(sm) {
			transform: translate3d((map-get($aside-width, 'xs') * -1), 0, 0);
		}
	}

	&__main {
		padding: 18px 0;
		position: relative;
		z-index: $zindex-page-layout-children;
	}
}

.page-footer {
	position: relative;
	z-index: $zindex-page-layout-children;
}
