@font-face {
	font-family: 'TTNormsPro';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/TTNormsPro-Regular.eot') format('eot'),
		url('../assets/fonts/TTNormsPro-Regular.woff2') format('woff2'),
		url('../assets/fonts/TTNormsPro-Regular.woff') format('woff'),
		url('../assets/fonts/TTNormsPro-Regular.ttf') format('truetype'),
		url('../assets/fonts/TTNormsPro-Regular.svg#TTNormsPro-Regular') format('svg');
}

@font-face {
	font-family: 'TTNormsPro';
	font-style: normal;
	font-weight: 500;
	src: url('../assets/fonts/TTNormsPro-Medium.eot') format('eot'),
		url('../assets/fonts/TTNormsPro-Medium.woff2') format('woff2'),
		url('../assets/fonts/TTNormsPro-Medium.woff') format('woff'),
		url('../assets/fonts/TTNormsPro-Medium.ttf') format('truetype'),
		url('../assets/fonts/TTNormsPro-Medium.svg#TTNormsPro-Medium') format('svg');
}

@font-face {
	font-family: 'TTNormsPro';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/TTNormsPro-Bold.eot') format('eot'),
		url('../assets/fonts/TTNormsPro-Bold.woff2') format('woff2'),
		url('../assets/fonts/TTNormsPro-Bold.woff') format('woff'),
		url('../assets/fonts/TTNormsPro-Bold.ttf') format('truetype'),
		url('../assets/fonts/TTNormsPro-Bold.svg#TTNormsPro-Bold') format('svg');
}
