// Colors
// Text
$c-t-base: #171717;
$c-t-white: #FFFFFF;
$c-t-black-48: #909090;
$c-t-black-64: #6B6B6B;
$c-t-black-80: #454545;

$c-t-inp-filled: #909090;
$c-t-inp-focused: #454545;
$c-t-inp-disabled: #EDEDED;
$c-t-inp-placeholder: #C7C7C7;

// Background
$c-bg-body: #F9F9F9;
$c-bg-white: #FFFFFF;
$c-bg-purple: #C490E4;
$c-bg-purple-64: #D9B8EE;
$c-bg-mobile-menu: #F9F9F9;

$c-bg-label-green: #CDF0EA;

// Border
$c-bd: #EDEDED;
$c-bd-black-6: #F1F1F1;

$c-bd-inp-default: #EDEDED;
$c-bd-inp-hover: #DADADA;
$c-bd-inp-focused: #C490E4;
$c-bd-inp-filled: #EDEDED;
$c-bd-inp-disabled: #EDEDED;

// Buttons
$c-btn-default: #C490E4;
$c-btn-hover: #D0A6E9;
$c-btn-pressed: #BB8BD8;
$c-btn-disabled: #F1E5F9;

