*,
*::after,
*::before {
	box-sizing: border-box;
	outline: none;
}

// this is for proper react-scroll work in Chrome
:root {
	scroll-behavior: auto !important;
}

body {
	background: $c-bg-body;
	color: $c-t-base;
	font-family: TTNormsPro, sans-serif;
	font-size: 14px;
	line-height: math.div(27, 18);
	font-style: normal;
	font-weight: 400;
}

.font-main {
	font-family: TTNormsPro, sans-serif !important;
}
