@import '~bootstrap';

$theme-color: #c490e4;

@import 'components/variables';

//@import 'functions/stripUnits';
//@import 'mixins/fluidType';s

@import 'themes/sample/basic';
@import 'themes/sample/page';

//Components
@import './components/noImage';
@import './components/buttons';
@import './components/products';
@import './components/product';
@import './components/pageHeader';
@import './components/nprogress';
@import './components/breadcrumb';
@import './components/cart';
@import './components/call2order';
@import './components/alert';
@import './components/sort';
@import './components/categoriesSidebar';
@import './components/asideMenu';
@import './components/verticalMenu';
