@import '~bootstrap';

@import 'components/variables';

//@import 'functions/stripUnits';
//@import 'mixins/fluidType';s

@import 'themes/sample/basic';
@import 'themes/sample/page';

@import './layouts/main';

//Components
@import './components/noImage';
@import './components/buttons';
@import './components/products';
@import './components/product';
@import './components/pageHeading';
@import './components/nprogress';
@import './components/breadcrumb';
@import './components/cart';
@import './components/call2order';
@import './components/alert';
@import './components/sort';
@import './components/categoriesSidebar';
@import './components/asideMenu';
@import './components/verticalMenu';
@import './components/horizontalMenu';
@import './components/rangeSlider';
@import './components/footer';
@import './components/categoryControls';
@import './components/categoryFilters';
@import './components/header';
