@use 'sass:math';

@import '~bootstrap';

$theme-color: #c490e4;

@import 'components/defaultVariables';

@import 'themes/sample/basic';
@import 'themes/sample/page';

//Components
@import './components/buttons';
@import './components/products';
@import './components/product';
//@import './components/category';
@import './components/nprogress';
@import './components/breadcrumb';
@import './components/cart';
@import './components/call2order';
@import './components/alert';
@import './components/sort';
@import './components/categoriesSidebar';
