@use 'sass:math';

@import '~bootstrap';

$theme-color: #C490E4;

@import 'components/defaultVariables';

@import 'themes/sample/basic';
@import 'themes/sample/page';

//Components
@import './components/buttons';
@import './components/product';
@import './components/categoryMenu';
@import './components/nprogress';
@import './components/price';
@import './components/breadcrumb';
@import './components/cart';
@import './components/call2order';
@import './components/alert';
@import './components/loader';
@import './components/sort';
